.bt{
	margin: 5px;
	border-radius: 5px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: #050801;
    text-align: center;
    background: transparent;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
}
.bt-peace{
	margin: 5px;
	border-radius: 5px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: #050801;
    box-shadow: 0 0 5px #fff;
    text-align: center;
    background: #ffe;
    overflow: hidden;
    text-decoration: none;
    
    font-weight: bold;
}
.bt-warning{
	margin: 5px;
	border-radius: 5px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: #050801;
    z-index: 999;
  	box-shadow: 0 0 5px #fff;
    text-align: center;
    background: yellow;
    overflow: hidden;
    text-decoration: none;
    
    font-weight: bold;
}
.bt-danger{
	margin: 5px;
	border-radius: 5px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: #050801;
  	box-shadow: 0 0 5px #fff;
    text-align: center;
    background: #D44535;
    overflow: hidden;
    text-decoration: none;
    
    font-weight: bold;
}
.bt-primary{
	margin: 5px;
	border-radius: 5px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: #050801;
  	box-shadow: 0 0 5px #fff;
    text-align: center;
    background: #32CBFF;
    overflow: hidden;
    text-decoration: none;
    
    font-weight: bold;
}
.bt-aqua{
	margin: 5px;
	border-radius: 5px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: #050801;
  	box-shadow: 0 0 5px #fff;
    text-align: center;
    background: #00ffff;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
}
.bt-lime{
	margin: 5px;
	border-radius: 5px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: #050801;
  	box-shadow: 0 0 5px #fff;
    text-align: center;
    background: #04DC3A;
    overflow: hidden;
    text-decoration: none;
    
    font-weight: bold;
}
.bt-success{
	margin: 5px;
	border-radius: 5px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: #050801;
  	box-shadow: 0 0 5px #fff;
    text-align: center;
    background: #B2EF2E;
    overflow: hidden;
    text-decoration: none;
    
    font-weight: bold;
}
.bt-dark{
	margin: 5px;
	border-radius: 5px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
  	box-shadow: 0 0 5px #fff;
    text-align: center;
    background: #000;
    overflow: hidden;
    text-decoration: none;
    
    font-weight: bold;
}
.h-danger:hover{
    background:  #D44535;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 5px #D44535,
                0 0 25px #D44535,
                0 0 50px #D44535,
                0 0 100px #D44535;
}
.h-peace:hover{
    background:  #ffe;
    color: #000;
    text-decoration: none;
    box-shadow: 0 0 5px #ffe,
                0 0 25px #ffe,
                0 0 50px #ffe,
                0 0 100px #ffe;
}
.h-primary:hover{
background:  #32CBFF;
color: #fff;
text-decoration: none;
box-shadow: 0 0 5px #32CBFF,
                0 0 25px #32CBFF,
                0 0 50px #32CBFF,
                0 0 100px #32CBFF;
}

.h-dark:hover{
	background:  #000;
color: #fff;
text-decoration: none;
box-shadow: 0 0 5px #000,
                0 0 25px #000,
                0 0 50px #000,
                0 0 100px #000;
}

.h-success:hover{
background:  #B2EF2E;
color: #fff;
text-decoration: none;
box-shadow: 0 0 5px #B2EF2E,
                0 0 25px #B2EF2E,
                0 0 50px #B2EF2E,
                0 0 100px #B2EF2E;
}

.h-lime:hover{
background:  #04DC3A;
color: #fff;
text-decoration: none;
box-shadow: 0 0 5px #04DC3A,
                0 0 25px #04DC3A,
                0 0 50px #04DC3A,
                0 0 100px #04DC3A;
}

.h-aqua:hover{
	background:  #69EBD0;
color: #fff;
text-decoration: none;
box-shadow: 0 0 5px #69EBD0,
                0 0 25px #69EBD0,
                0 0 50px #69EBD0,
                0 0 100px #69EBD0;
}

.h-warning:hover{
	background:  #ffff00;
color: #000;
text-decoration: none;
box-shadow: 0 0 5px #ffff00,
                0 0 25px #ffff00,
                0 0 50px #ffff00,
                0 0 100px #ffff00;
}

.bt span{
    position: absolute;
    display: block;
}
.bt span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
0%
{
    left: -100%;
}
50%,100%{
    left: 100%;
}
}
.bt span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
0%
{
    top: -100%;
}
50%,100%{
    top: 100%;
}
}
.bt span:nth-child(3){
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
0%
{
    right: -100%;
}
50%,100%{
    right: 100%;
}
}
.bt span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
0%
{
    bottom: -100%;
}
50%,100%{
    bottom: 100%;
}
}



.bt-danger span{
    position: absolute;
    display: block;
}
.bt-danger span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
0%
{
    left: -100%;
}
50%,100%{
    left: 100%;
}
}
.bt-danger span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
0%
{
    top: -100%;
}
50%,100%{
    top: 100%;
}
}
.bt-danger span:nth-child(3){
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
0%
{
    right: -100%;
}
50%,100%{
    right: 100%;
}
}
.bt-danger span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
0%
{
    bottom: -100%;
}
50%,100%{
    bottom: 100%;
}
}


.bt-warning span{
    position: absolute;
    display: block;
}
.bt-warning span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#04DC3A);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
0%
{
    left: -100%;
}
50%,100%{
    left: 100%;
}
}
.bt-warning span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#04DC3A);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
0%
{
    top: -100%;
}
50%,100%{
    top: 100%;
}
}
.bt-warning span:nth-child(3){
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#04DC3A);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
0%
{
    right: -100%;
}
50%,100%{
    right: 100%;
}
}
 .bt-warning span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#04DC3A);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
0%
{
    bottom: -100%;
}
50%,100%{
    bottom: 100%;
}
}

.bt-aqua span{
    position: absolute;
    display: block;
}
.bt-aqua span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#D44535);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
0%
{
    left: -100%;
}
50%,100%{
    left: 100%;
}
}
.bt-aqua span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#D44535);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
0%
{
    top: -100%;
}
50%,100%{
    top: 100%;
}
}
.bt-aqua span:nth-child(3){
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#D44535);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
0%
{
    right: -100%;
}
50%,100%{
    right: 100%;
}
}
.bt-aqua span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#D44535);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
0%
{
    bottom: -100%;
}
50%,100%{
    bottom: 100%;
}
}


.bt-dark span{
    position: absolute;
    display: block;
}
.bt-dark span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#fff);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
0%
{
    left: -100%;
}
50%,100%{
    left: 100%;
}
}
.bt-dark span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#fff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
0%
{
    top: -100%;
}
50%,100%{
    top: 100%;
}
}
.bt-dark span:nth-child(3){
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#fff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
0%
{
    right: -100%;
}
50%,100%{
    right: 100%;
}
}
.bt-dark span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#fff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
0%
{
    bottom: -100%;
}
50%,100%{
    bottom: 100%;
}
}

.bt-peace span{
    position: absolute;
    display: block;
}
.bt-peace span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#D44535);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
0%
{
    left: -100%;
}
50%,100%{
    left: 100%;
}
}
.bt-peace span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#D44535);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
0%
{
    top: -100%;
}
50%,100%{
    top: 100%;
}
}
.bt-peace span:nth-child(3){
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#D44535);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
0%
{
    right: -100%;
}
50%,100%{
    right: 100%;
}
}
.bt-peace span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#D44535);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
0%
{
    bottom: -100%;
}
50%,100%{
    bottom: 100%;
}
}


.bt-primary span{
    position: absolute;
    display: block;
}
.bt-primary span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#fff);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
0%
{
    left: -100%;
}
50%,100%{
    left: 100%;
}
}
.bt-primary span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#fff);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
0%
{
    top: -100%;
}
50%,100%{
    top: 100%;
}
}
.bt-primary span:nth-child(3){
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#fff);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
0%
{
    right: -100%;
}
50%,100%{
    right: 100%;
}
}
.bt-primary span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#fff);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
0%
{
    bottom: -100%;
}
50%,100%{
    bottom: 100%;
}
}


.bt-lime span{
    position: absolute;
    display: block;
}
.bt-lime span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#D44535);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
0%
{
    left: -100%;
}
50%,100%{
    left: 100%;
}
}
.bt-lime span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#D44535);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
0%
{
    top: -100%;
}
50%,100%{
    top: 100%;
}
}
.bt-lime span:nth-child(3){
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#D44535);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
0%
{
    right: -100%;
}
50%,100%{
    right: 100%;
}
}
.bt-lime span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#D44535);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
0%
{
    bottom: -100%;
}
50%,100%{
    bottom: 100%;
}
}
.bt-success span{
    position: absolute;
    display: block;
}
.bt-success span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#D44535);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
0%
{
    left: -100%;
}
50%,100%{
    left: 100%;
}
}
.bt-success span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#D44535);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
0%
{
    top: -100%;
}
50%,100%{
    top: 100%;
}
}
.bt-success span:nth-child(3){
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#D44535);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
0%
{
    right: -100%;
}
50%,100%{
    right: 100%;
}
}
.bt-success span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#D44535);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
0%
{
    bottom: -100%;
}
50%,100%{
    bottom: 100%;
}
}

/* Write Your CSS here */
.bt-neon{
    margin: 5px;
	border-radius: 5px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: #ececec;
  	box-shadow: 0 0 5px #eeccee;
    text-align: center;
    background: #94fc13;
    overflow: hidden;
    text-decoration: none;
    font-weight: bold;
}
.nav-link{
    font-size: 1.2rem;
}